#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        incdec_kp: incdec_kp {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_DN>, <&kp C_VOL_UP>;
        };
    };

    macros {
        // Macro giả lập tổ hợp tắt nguồn nhanh trên Windows (Win + X -> U -> U)
        win_shutdown: win_shutdown {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <60>;
            tap-ms = <50>;
            bindings = <&kp LG(X) &kp U &kp U>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            sensor-bindings = <&incdec_kp>;
            bindings = <
                &kp PSCRN   &kp LG(E)   &kp C_AL_CALC  &kp C_MUTE
                &kp LG(N1)  &kp LG(N2)  &kp LG(N3)  &mo 1
            >;
        };

        fn_layer {
            bindings = <
                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans
                &bt BT_CLR    &bootloader   &win_shutdown &none
            >;
        };
    };
};